@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss"; 
/* Fonte via CSS (ou configurar em tailwind.config.js) */
body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 2.5rem;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 900;
  line-height: 1.2em;
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Baloo 2';
  font-weight: 800;
}



/* Use :root — @theme é inválido */
@theme light {
  /* Produto */
  --color-yellow-dark: #C47F17;
  --color-yellow: #DBAC2C;
  --color-yellow-light: #F1E9C9;
  --color-purple-dark: #4B2995;
  --color-purple: #8047F8;
  --color-purple-light: #EBE5F9;

  /* Base */
  --color-base-title: #272221;
  --color-base-subtitle: #403937;
  --color-base-text: #574F4D;
  --color-base-label: #8D8686; 
  --color-base-hover: #D7D5D5;
  --color-base-button: #E6E5E5;
  --color-base-input: #EDEDED;
  --color-base-card: #F3F2F2;
  --color-base-background: #FAFAFA;
  --color-base-error: #F84747;
  --color-white: #FFFFFF;
}